<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload XML Files</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"></head>


    <style>
        body, html {
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    </style>
<body>

    <div class="importFiles">
        <h1>Upload Network.xml and output_events.xml</h1>
        <p>Drag and drop or click to browse for XML files!</p>

        <div id="drop-area" ondrop="handleDrop(event)" ondragover="handleDragOver(event)">
            <div id="drop-area-text">Drop files here</div>
            <input type="file" id="file-input" multiple onchange="handleFiles(this.files)">
            <button id="browse-btn" onclick="browseFiles()">Browse</button>
            <div id="file-list">
                <!-- Display selected file names here -->
            </div>
        </div>

        <div class="button-container">
            <button onclick="processFiles()">Process</button>
        </div>

        <div id="progress-bar-container">
            <div id="progress-bar"></div>
            <div id="progress-label">Processing...</div>
            <div id="processingFilesProgress">
                <div id="file1_flag" style="display: none;">Network (Nodes) File Processing Complete!<span id="check1">✔</span></div>
                <div id="file2_flag" style="display: none;">Network (Links) File Processing Complete!<span id="check2">✔</span></div>
                <div id="file3_flag" style="display: none;">Events File Processing Complete!<span id="check3">✔</span></div>
                <div id="completion-flag" style="display: none;">All Processing Complete!</div>
            </div> 
            <span id="completion-count">0 out of 3 completed files</span>
        </div>
      
    
    </div>


    
 
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/progress');
        var progressBar = document.getElementById('progress-bar');
        var progressLabel = document.getElementById('progress-label');
        var file1Flag = document.getElementById('file1_flag');
        var file2Flag = document.getElementById('file2_flag');
        var file3Flag = document.getElementById('file3_flag');

        var completionFlag = document.getElementById('completion-flag');
        var completionCount = document.getElementById('completion-count');
        var completedFilesCount = 0;

        socket.on('update_progress', function(data) {
            
            if (data.value === -1) {
                progressBar.style.backgroundColor = 'red';
                progressLabel.innerText = 'Error during processing';
            } else {
                progressBar.style.width = data.value + '%';
                progressLabel.innerText = 'Processing: ' + data.value + '%';
                progressLabel.style.display = 'block';  // Show the label during processing

                if (data.value === 100) {
                    // Display completion flag and update checkmark
                    if (data.flag === 1 && !file1Flag.classList.contains('completed')) {
                        file1Flag.style.display = 'block';
                        document.getElementById('check1').style.display = 'block';
                        file1Flag.classList.add('completed');
                        completedFilesCount++;
                    } else if (data.flag === 2 && !file2Flag.classList.contains('completed')) {
                        file2Flag.style.display = 'block';
                        document.getElementById('check2').style.display = 'block';
                        file2Flag.classList.add('completed');
                        completedFilesCount++;
                    } else if (data.flag === 3 && !file3Flag.classList.contains('completed')) {
                        file3Flag.style.display = 'block';
                        document.getElementById('check3').style.display = 'block';
                        file3Flag.classList.add('completed');
                        window.location.href = '{{ url_for("render_another_page") }}';
                        completedFilesCount++;
                    }

                    // Update completion count
                    completionCount.innerText = completedFilesCount + ' out of 3 completed files';
                }
            }
        });
    </script>

</body>
</html>
