<!DOCTYPE html>
<html lang="en">
<head>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Event Search</title>
    <style>
        .form-spacing {
            margin-bottom: 20px;
        }
        .centered-table th,
        .centered-table td {
            text-align: center;
        }
        #mapid {
            height: 400px; /* You can adjust the height as needed */
        }
    </style>
</head>
<body>

<h1>Transportation Events</h1>

<form id="search-form">
    <input type="radio" id="searchByPerson" name="searchType" value="personId" checked>
    <label for="searchByPerson">Person ID</label>
    <input type="text" id="personId" name="searchId" required>
    
    <input type="radio" id="searchByLink" name="searchType" value="linkId">
    <label for="searchByLink">Link ID</label>
    <input type="text" id="linkId" name="searchId" disabled required>

    <input type="radio" id="searchByLinkInfo" name="searchType" value="linkIdLinkTable">
    <label for="searchByLink">Link ID (Link Information)</label>
    <input type="text" id="linkIdLinkTable" name="searchId" disabled class="bottom-spacing" required>
    
    
    <div id="timeRange" class="time-range-spacing" style="display: none;">
        <label for="startTime">Start Time:</label>
        <input type="time" id="startTime" name="startTime">
        
        <label for="endTime">End Time:</label>
        <input type="time" id="endTime" name="endTime">
        <button type="button" id="resetTime">Reset Time</button>

    </div>


    <input type="radio" id="searchByVisualization" name="searchType" value="visualization">
    <label for="searchByVisualization">Visualization</label>

    <div id="visualizationOptions" style="display: none;">
        <label for="visPersonId">Person ID for Visualization:</label>
        <input type="text" id="visPersonId" name="visPersonId" disabled>

        <label for="visStartTime">Start Time:</label>
        <input type="time" id="visStartTime" name="visStartTime" disabled>

        <label for="visEndTime">End Time:</label>
        <input type="time" id="visEndTime" name="visEndTime" disabled>
        <button type="button" id="resetTime">Reset Time</button>

    </div>


    <button type="submit">Search</button>
    <button type="button" id="visualization-button">Show Visualization</button>

</form>

<div id="mapid">
    <!-- The map will be inserted here by the JavaScript -->
</div>

<div id="events">
    <!-- The DataTable will be inserted here -->
</div>

<script>
    $(document).ready(function() {
        // Your existing code

        // Reset time fields when the reset button is clicked
        $('#resetTime').click(function() {
            $('#startTime').val('');
            $('#endTime').val('');
        });
    });
</script>

</body>
</html>
